In [1]:
import pandas as pd

In [2]:
fb = pd.read_csv('../raw/feedbacks.csv')

In [3]:
users = pd.read_csv('../raw/users.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
fb.sample(5)

,id,rating,ratable_id,ratable_type,comment,created_at,updated_at,field_id,order_id,user_id,tags
32915,58144,-1.0,194786,OrderItem,NaN,2018-04-10 15:14:32.204731,2018-04-10 15:14:32.204731,NaN,GO294186,44647.0,---\n- Taste\n
14029,47237,1.0,165178,OrderItem,NaN,2017-11-03 11:45:30.650641,2017-11-03 11:45:30.650641,NaN,GO248893,39092.0,NaN
31409,65436,1.0,213387,OrderItem,NaN,2018-06-21 19:00:16.735951,2018-06-21 19:00:16.735951,NaN,GO324275,45211.0,NaN
44567,78013,1.0,143016,DeliveryOrder,NaN,2018-09-27 08:51:01.792685,2018-09-27 08:51:01.792685,NaN,GO375583,52113.0,NaN
16205,48604,1.0,168352,OrderItem,NaN,2017-11-27 11:32:29.629773,2017-11-27 11:32:29.629773,NaN,GO253924,13022.0,NaN

In [5]:
fb[(fb['user_id'].isin(users.id))].user_id.nunique()

5247

In [6]:
loc = pd.read_csv('../raw/locations.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,10,11,12,15,26,28,29,30,31,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
loc.sample(5)

,id,postal_code,address,longitude,latitude,created_at,updated_at,zone_id,location_id,overwrite,...,delivery_fee,block_slot_1,block_slot_2,block_slot_3,block_slot_4,block_slot_5,block_slot_6,lonlat,pickup_point_radius,no_delivery
140894,145882,309566,37A Chancery Lane,103.838271,1.322400,2014-07-04 11:19:25.134070,2017-03-15 12:08:55.568701,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0101000020E6100000DB8B683BA6F55940B8AF03E78C28...,NaN,NaN
18882,41740,788366,61 Springleaf Crescent,103.823890,1.400120,2014-07-04 11:08:01.495603,2017-03-15 10:15:02.080461,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0101000020E610000018601F9DBAF45940BB9BA73AE466...,NaN,NaN
50168,100772,439345,57K Crescent Road,103.890563,1.306557,2014-07-04 11:14:30.540727,2017-03-15 11:18:27.180417,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0101000020E6100000C501F4FBFEF8594009C21550A8E7...,NaN,NaN
114624,46382,769513,31 Jalan Salang,103.826327,1.438351,2014-07-04 11:08:32.337412,2017-03-15 10:20:04.243776,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0101000020E610000086D3388AE2F4594097CEE2207C03...,NaN,NaN
23115,49728,806446,40 Sunrise Place,103.856033,1.386589,2014-07-04 11:08:53.425615,2017-03-15 10:23:25.216287,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0101000020E6100000FED2A23EC9F65940BDE47FF2772F...,NaN,NaN

In [13]:
loc.shape

(151940, 37)

In [8]:
delv = pd.read_csv('../raw/delivery_orders.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (9,13,22,31,33,35,36,38,44,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
delv

,id,zone_id,address,state,item,created_at,updated_at,location_id,user_id,cart_id,...,surcharge_amount_excluding_gst,discount_excluding_gst,should_commit_stock,recurring_type,xero_invoice_id,dispatching_hub_id,blk_tower,feedback_token,credit_deduction_excluding_gst,is_outbound
0,34370,74.0,10 Marina Boulevard,open,---\n'2015-11-19':\n TOGARASHI:\n :qty: 1\...,2015-11-19 09:25:03.894278,2019-04-03 16:46:28.007825,32.0,800,1829649,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
1,34371,74.0,10 Marina Boulevard,open,---\n'2015-11-19':\n RIBEYE:\n :qty: 1\n ...,2015-11-19 09:27:24.598825,2019-04-03 16:46:28.071974,32.0,3347,1834666,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
2,34372,74.0,8 Marina View,open,---\n'2015-11-19':\n TOGARASHI:\n :qty: 1\...,2015-11-19 09:27:38.109518,2019-04-03 16:46:28.133796,18.0,1952,1858825,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
3,34373,74.0,ASIASQ,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:30:17.090586,2019-04-03 16:46:28.188372,149794.0,6250,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,934,False
4,87519,74.0,138 Market Street,open,---\n'2017-4-26':\n RIBRUSSEL:\n :qty: 2\n...,2017-04-22 23:47:14.291553,2019-04-03 16:10:33.764149,149807.0,4727,NaN,...,0,0,True,ad_hoc,NaN,33.0,NaN,NaN,0,False
5,4271,74.0,NTUC Centre (One Marina Boulevard) taxi stand,open,---\n'2014-12-3':\n EVIL:\n :qty: 1\n :...,2014-12-03 11:29:22.180621,2019-04-03 12:11:08.619023,38.0,1553,42466,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
6,64676,61.0,528 Miltonia Close,open,---\n'2016-9-7':\n TOFUHUMMUS:\n :qty: 1\n...,2016-09-06 18:13:45.239294,2019-04-03 16:25:54.753028,157445.0,23999,12610212,...,467,0,True,NaN,NaN,33.0,NaN,NaN,0,False
7,34381,74.0,12 Marina Boulevard,open,---\n'2015-11-19':\n RIBEYE:\n :qty: 1\n ...,2015-11-19 09:38:37.044975,2019-04-03 16:46:28.523682,31.0,5749,1858970,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
8,34374,74.0,MBFC2,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:30:32.378132,2019-04-03 16:46:28.230028,32.0,12471,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
9,34375,74.0,10 Marina Boulevard,open,---\n'2015-11-19':\n TOGARASHI:\n :qty: 1\...,2015-11-19 09:30:55.354675,2019-04-03 16:46:28.272399,32.0,12088,1852156,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
10,34376,74.0,ASIASQ,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:31:00.067116,2019-04-03 16:46:28.316194,149794.0,6250,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,934,False
11,34377,74.0,ORQ,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:33:40.269586,2019-04-03 16:46:28.350592,241.0,5451,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
12,4451,74.0,One Raffles Quay taxi stand,open,---\n'2014-12-9':\n BIBIMBAP:\n :qty: 1\n ...,2014-12-09 09:07:07.153210,2019-04-03 12:12:18.312834,241.0,1500,54760,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
13,4452,74.0,Marina Bay Financial Centre,open,---\n'2014-12-9':\n MADAME:\n :qty: 1\n ...,2014-12-09 09:08:36.230374,2019-04-03 12:12:18.631818,30.0,1860,55166,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
14,34378,74.0,10 Collyer Quay,open,---\n'2015-11-19':\n RIBEYE:\n :qty: 1\n ...,2015-11-19 09:35:15.217531,2019-04-03 16:46:28.385284,656.0,12001,1858826,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
15,4247,74.0,Marina Bay Financial Centre,open,---\n'2014-12-3':\n ASSAM:\n :qty: 1\n ...,2014-12-03 09:57:26.088216,2019-04-03 12:10:58.954525,32.0,1477,41607,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
16,4248,74.0,One Raffles Quay taxi stand,open,---\n'2014-12-3':\n ADOBO:\n :qty: 1\n ...,2014-12-03 09:57:39.207024,2019-04-03 12:10:59.291978,241.0,1692,42365,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
17,564,74.0,Asia Square Tower 1 taxi stand,open,---\n55 - NOM: 1\n,2014-08-14 09:05:31.521339,2019-04-03 11:48:52.791758,18.0,1,100174,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
18,34382,74.0,MBFC2,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:39:46.299842,2019-04-03 16:46:28.566208,32.0,3196,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
19,34383,74.0,8 Marina Boulevard,committed,---\n'2015-11-19':\n TOGARASHI:\n :qty: 5\...,2015-11-19 09:41:17.986019,2019-04-03 16:46:28.597896,30.0,2920,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
20,34384,74.0,1 Raffles Quay,open,---\n'2015-11-19':\n TOGARASHI:\n :qty: 1\...,2015-11-19 09:41:29.152573,2019-04-03 16:46:28.642348,241.0,92,1858985,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
21,34385,74.0,ATRIX,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:41:33.190319,2019-04-03 16:46:28.687236,82124.0,2541,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,1448,False
22,64681,74.0,UOB Plaza (open space between Plaza 1 and Plaz...,open,---\n'2016-9-7':\n TEARICE:\n :qty: 1\n ...,2016-09-06 20:11:04.669516,2019-04-03 16:25:55.067057,836.0,24075,12608641,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
23,89465,74.0,16 College Road,open,---\n'2017-5-15':\n SHABURAI:\n :qty: 1\n ...,2017-05-15 09:50:40.604867,2019-04-03 15:42:42.452435,7530.0,9453,14738037,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
24,34386,74.0,12 Marina Boulevard,open,---\n'2015-11-19':\n TOGARASHI:\n :qty: 1\...,2015-11-19 09:42:20.997132,2019-04-03 16:46:28.718160,31.0,825,1858991,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
25,34387,74.0,ORQ,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:43:58.342237,2019-04-03 16:46:28.768131,241.0,8666,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
26,34388,74.0,OUE,open,---\n'2015-11-19':\n PERSONALISED:\n :qty:...,2015-11-19 09:45:13.464439,2019-04-03 16:46:28.813605,662.0,10098,NaN,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
27,87522,74.0,One Raffles Quay taxi stand,open,---\n'2017-4-24':\n RIBRUSSEL:\n :qty: 1\n...,2017-04-23 09:56:45.280938,2019-04-03 16:10:34.026194,241.0,33279,14748571,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
28,64692,74.0,Prudential Tower (outside building's lobby),open,---\n'2016-9-7':\n GOTOFU:\n :qty: 1\n ...,2016-09-06 22:14:39.819576,2019-04-03 16:25:55.649608,239.0,21748,12606284,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
29,64693,74.0,Prudential Tower (outside building's lobby),open,---\n'2016-9-8':\n CONFITLAMB:\n :qty: 1\n...,2016-09-06 22:15:12.431291,2019-04-03 16:25:55.703637,239.0,21748,12610733,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32885,105968,61.0,10 Changi Business Park Central 2,open,--- !ruby/hash:ActiveSupport::HashWithIndiffer...,2017-11-21 10:56:38.727308,2019-04-03 16:01:19.775418,111048.0,21402,0,...,0,934,True,NaN,NaN,33.0,NaN,0c799434d2e5d738be231018,467,False
32886,105970,61.0,77 Ayer Rajah Crescent,open,---\n'2017-11-21':\n FARMFRESH:\n :qty: 1\...,2017-11-21 10:58:42.907161,2019-04-05 15:42:22.938128,57731.0,28460,1.37982e+07,...,0,0,True,NaN,NaN,33.0,77,6f4f4460b3c3c7263ee1c729,0,False
32887,80075,74.0,1 Raffles Place,open,---\n'2017-2-16':\n VIETBEEF:\n :qty: 1\n ...,2019-03-06 11:30:00.272341,2019-04-03 16:01:19.536626,242.0,26935,1.40377e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,1397,False
32888,80077,61.0,41 Pasir Ris Terrace,open,---\n'2017-2-15':\n DORYFISH:\n :qty: 1\n ...,2017-02-12 20:59:14.406998,2019-03-06 11:30:00.692529,118148.0,13433,1.40377e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,3163,False
32889,80078,74.0,8 Cross Street,open,---\n'2017-2-13':\n PEPPERBEEF:\n :qty: 1\...,2017-02-12 21:23:11.025980,2016-08-16 00:12:07.774938,120.0,23263,1.40101e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,2607,False
32890,80079,74.0,9 Gloucester Road,open,---\n'2017-2-13':\n DORYFISH:\n :qty: 1\n ...,2017-02-12 21:41:24.409126,2019-04-03 16:01:19.852862,123040.0,30733,1.40378e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32891,80080,61.0,1 Palm Road,open,---\n'2017-2-13':\n COCO:\n :qty: 1\n :...,2017-02-27 13:00:00.011455,2019-04-03 16:01:19.941091,103120.0,29805,1.40329e+07,...,0,467,True,NaN,NaN,33.0,NaN,NaN,934,False
32892,80081,61.0,12 International Business Park,open,---\n'2017-2-13':\n DORYFISH:\n :qty: 1\n ...,2017-02-12 22:34:14.373110,2016-08-16 00:12:08.021034,63224.0,14120,1.40183e+07,...,0,747,True,NaN,NaN,33.0,NaN,NaN,0,False
32893,105972,74.0,your specified floor at Marina Bay Financial C...,open,---\n'2017-11-21':\n FARMFRESH:\n :qty: 1\...,2017-11-01 09:38:34.477127,2019-04-03 16:30:00.094485,32.0,29836,1.53811e+07,...,0,0,True,NaN,NaN,33.0,2,f2eeefe550b44114eaf06b7a,0,False
32894,190,74.0,Ocean Financial Centre taxi stand,open,---\n'30': 1\n,2014-07-24 03:04:08.786518,2019-04-03 12:15:00.021705,656.0,58,56944,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32895,80082,71.0,688 Hougang Street 61,open,---\n'2017-2-13':\n DORYFISH:\n :qty: 2\n ...,2017-02-12 22:40:02.557547,2019-04-03 16:01:20.092727,12583.0,29473,1.40378e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32896,80083,74.0,Singapore Land Tower entrance (facing Battery ...,open,---\n'2017-2-13':\n VIETBEEF:\n :qty: 1\n ...,2017-02-16 00:12:09.639777,2017-11-01 09:38:34.171493,1231.0,19916,1.40215e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32897,80084,74.0,your specified floor at Marina Bay Financial C...,open,---\n'2017-2-13':\n VIETBEEF:\n :qty: 1\n ...,2017-02-12 22:43:39.573507,2019-04-03 16:01:20.249658,32.0,488,1.40173e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,1210,False
32898,80085,61.0,21 Tampines North Drive 2,open,---\n'2017-2-13':\n COCO:\n :qty: 2\n :...,2017-02-12 00:12:18.264949,2017-11-01 09:38:34.318880,119622.0,28404,1.40208e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32899,80086,74.0,120 Robinson Road,open,---\n'2017-2-13':\n LEMONCARROT:\n :qty: 1...,2017-02-12 23:09:28.861226,2019-04-03 16:01:20.394696,3139.0,30042,1.39668e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32900,9916,74.0,Ocean Financial Centre taxi stand,open,---\n'2015-4-9':\n ADOBO:\n :qty: 1\n :...,2015-04-09 12:23:19.757161,2019-04-02 17:58:59.303497,656.0,3577,62512,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32901,192,74.0,Roundabout between MBFC Tower 1 and Tower 2,open,---\n'31': 2\n'30': 1\n,2014-07-24 03:13:24.597517,2019-04-03 11:46:45.652015,31.0,54,56794,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32902,105973,74.0,10 Collyer Quay,open,---\n'2017-11-21':\n VEGBARLEY:\n :qty: 2\...,2017-11-21 11:06:30.419879,2019-04-03 16:01:20.172669,656.0,15050,1.5364e+07,...,0,0,True,NaN,NaN,33.0,NaN,d1c5a5fcc50d1b33fe561d9b,0,False
32903,105974,74.0,Singapore Land Tower entrance (facing Battery ...,open,---\n'2017-11-21':\n COCO:\n :qty: 1\n ...,2017-11-21 11:06:40.331194,2019-04-03 16:01:20.254633,1231.0,14839,1.52938e+07,...,0,0,True,NaN,NaN,33.0,Up Escalator Behind ATM,7e165f155eff7acb55738139,2004,False
32904,105975,61.0,2 Jalan Tiga Ratus,open,---\n'2017-11-21':\n DRAGONWELL:\n :qty: 1...,2017-11-21 11:13:07.704440,2019-04-03 16:01:20.322399,112690.0,24530,1.50545e+07,...,0,0,True,NaN,NaN,33.0,NaN,e387fbceacc512b7d2b61706,0,False
32905,105977,61.0,51 Changi Business Park Central 2,open,---\n'2017-11-21':\n DRAGONWELL:\n :qty: 1...,2017-11-21 11:19:15.124427,2019-04-03 16:01:20.472487,111073.0,34354,1.49254e+07,...,280,0,True,NaN,NaN,33.0,The Singapore,543b32ef5840d0748a5d2beb,0,False
32906,105979,71.0,754 Bedok Reservoir Road,open,---\n'2017-11-21':\n COCO:\n :qty: 1\n ...,2017-11-21 11:20:11.406606,2019-04-03 16:01:20.617708,110904.0,36573,1.53697e+07,...,0,0,True,NaN,NaN,33.0,Waterfront Gold,6b2446b32973f0df25b1159a,0,False
32907,105980,74.0,42 Kim Yam Road,open,---\n'2017-11-21':\n PIRICHIX:\n :qty: 1\n...,2017-11-21 11:21:13.181230,2019-04-03 16:01:20.690501,127851.0,18772,1.53774e+07,...,0,0,True,NaN,NaN,33.0,"42 Kim Yam Road, Oleanas Residence",f1a409701e6b46bebd446424,0,False
32908,80087,61.0,425 Clementi Avenue 1,open,---\n'2017-2-13':\n DORYFISH:\n :qty: 1\n ...,2017-02-12 23:29:38.922938,2019-04-03 16:01:20.468007,54728.0,26086,1.4038e+07,...,0,747,True,NaN,NaN,33.0,NaN,NaN,0,False
32909,105986,74.0,Ocean Financial Centre taxi stand,open,---\n'2017-11-24':\n COCO:\n :qty: 1\n ...,2017-11-21 11:46:22.081370,2019-04-03 16:01:21.123211,656.0,32654,1.53987e+07,...,280,0,True,NaN,NaN,33.0,NaN,93db43c83b351489c524415e,794,False
32910,80088,74.0,12 Marina View,open,---\n'2017-2-13':\n FARMFRESH:\n :qty: 1\n...,2017-02-12 23:44:36.706279,2019-04-03 16:01:20.547812,149794.0,30737,1.4038e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32911,80089,74.0,105 Cecil Street,open,---\n'2017-2-13':\n DORYFISH:\n :qty: 1\n ...,2017-02-13 00:37:15.453107,2019-04-03 16:01:20.612992,3429.0,24945,1.40303e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,1397,False
32912,80090,71.0,35 Amber Road,open,---\n'2017-2-14':\n VIETBEEF:\n :qty: 1\n ...,2017-02-13 00:39:01.885945,2019-04-03 16:01:20.682749,101330.0,17713,1.40382e+07,...,280,747,True,NaN,NaN,33.0,NaN,NaN,0,False
32913,80091,61.0,764 Choa Chu Kang North 5,open,---\n'2017-2-13':\n COCO:\n :qty: 6\n :...,2017-02-13 00:48:36.576912,2019-04-03 16:01:20.754978,74176.0,25409,1.39704e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,0,False
32914,80092,74.0,7 Outram Road (Singapore General Hospital),open,---\n'2017-2-13':\n FARMFRESH:\n :qty: 1\n...,2017-02-13 00:49:42.135526,2019-04-03 16:01:20.830290,7385.0,20431,1.40382e+07,...,0,0,True,NaN,NaN,33.0,NaN,NaN,2794,False

In [10]:
# delv.isnull().sum().sort_values()

In [11]:
# loc[(loc['id'].isin(delv.location_id))].shape

(3240, 37)

In [14]:
delv[(delv['location_id'].isin(loc.id))].shape

(32900, 71)

In [19]:
delv.merge(loc, left_on='location_id', right_on='id', suffixes=('_delivery','_loc')).shape

(32900, 108)